b#batter-top {
  display: block;
  @include border-radius(1000px); // yes, 1000px is correct!
  background-color: #aa333f;
  position: absolute;
}

b#batter-bottom {
  display: block;
  @include border-radius(1000px); // yes, 1000px is correct!
  background-color: #34aa32;
  position: absolute;
}