.batters {
  display: block;
  @include border-radius(1000px); // yes, 1000px is correct!
  position: absolute;
  z-index: 900;
   @include transition(all 50ms linear) // mir vorbehalt
}

b#batter-top {
  background-color: #aa333f;
}

b#batter-bottom {
  background-color: #34aa32;
}