div#dashboard{
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 900;
  color: white;
}
#dashboard > h4 {
  margin: 0px;
}

p#result {
  text-align: center;
  font-size: x-large;
  margin: 0px;
}

p#score {
  text-align: center;
  font-size: small;
  margin: 0px;
}