div#dashboard{
  display: block;
  position: absolute;
  top: 25%;
  margin-left: 5%;
  right: -25%;
  z-index: 10000;
  color: white;
}
#dashboard > h4 {
  margin: 0px;
}

p#result {
  text-align: center;
  font-size: x-large;
  margin: 0px;
}

p#score {
  text-align: center;
  font-size: small;
  margin: 0px;
}