@import "compass";

@import "techdemo";
@import "field";


// Das ist ein guter Ort für allgemein gültige Styles! ;)
html, body{
   height: 100%;
}
body{
   margin: 0;
   padding: 0;
   overflow:hidden; //it's a ab: no scroll at body
}