<div class="row">
    <div class="col s6">
        <!-- enter name -->
        <div id="enterName_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <form class="col s12" id="player_name_form">
                    <div class="row">
                        <div class="col s12"><h4>Willkommen bei ScriptHockey</h4></div>
                        <div class="col s6">
                            <p>Dies ist der Versuch im Rahmen eines Studienprojektes Airhockey in JavaScript
                                nachzubauen.</p>

                            <p>Es kann gleich losgehen, gib nur schnell den Namen ein, mit dem du im Spiel erkannt
                                werden willst:</p>
                            <br>
                            <br>
                            <br>

                            <div class="input-field">
                                <input placeholder="Captain Steve Rogers" id="player_name" type="text" class="validate">
                                <label for="player_name">Spielername</label>
                            </div>
                        </div>
                        <div class="col s6 right right-align">
                            <img src="images/logo_smaller.png" class=" valign" align="right" WIDTH="200"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" id="submit_player_name_form" class="modal-action waves-effect  btn-flat ">Spiel starten</a>
            </div>
        </div>
        <!-- waiting -->
        <div id="waiting_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <h4>Warte auf Mitspieler</h4></div>
                        <p>Warte auf weiteren Mitspieler. Schicken Sie ihrem Freund doch einen Link... ;)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- server voll -->
        <div id="serverFull_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <h4>Wir sind voll!</h4></div>
                        <p>Momentan kann ein Server nur ein Spiel hosten. Hol dir einen Kaffee und schau später nochmal
                            vorbei</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>