<div class="row">
    <div class="col s6">
        <!-- enter name -->
        <div id="enterName_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <form class="col s12" id="player_name_form">
                    <div class="row">
                        <div class="col s12"><h4>Willkommen bei ScriptHockey</h4></div>
                        <div class="col s6">
                            <p>Dies ist der Versuch im Rahmen eines Studienprojektes Airhockey in JavaScript
                                nachzubauen.</p>

                            <p>Es kann gleich losgehen, gib nur schnell den Namen ein, mit dem du im Spiel erkannt
                                werden willst:</p>
                            <br>
                            <br>
                            <br>

                            <div class="input-field">
                                <input placeholder="Captain Steve Rogers" id="player_name" type="text" class="validate">
                                <label for="player_name">Spielername</label>
                            </div>
                        </div>
                        <div class="col s6 right right-align">
                            <img src="images/logo_smaller.png" class=" valign" align="right" WIDTH="200"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" id="submit_player_name_form" class="modal-action waves-effect  btn-flat ">Spiel starten</a>
            </div>
        </div>
        <!-- waiting -->
        <div id="waiting_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <h4>Warte auf Mitspieler</h4>
                            <p>Warte auf weiteren Mitspieler. Schicken Sie ihrem Freund doch einen Link... ;)</p>
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                                </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- server voll -->
        <div id="serverFull_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <h4>Wir sind voll!</h4></div>
                        <p>Momentan kann ein Server nur ein Spiel hosten. Hol dir einen Kaffee und schau später nochmal
                            vorbei</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Highscores -->
        <div id="highscore_Modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <!-- wird durch ModalController eingefügt -->
                            <h4 id="highscore-WinLose-message"></h4>
                        </div>
                        <p>Hier die letzten Highscores nach Punkte sortiert. Nur die letzten 10 Spiele werden
                            gespeichert.</p>
                        <table class="hoverable striped ">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Punkte</th>
                            </tr>
                            </thead>
                            <tbody id="highscores">
                            <tr>
                                <td>Dieter</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Darth Vader</td>
                                <td>100e20</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/" id="play_again" class="modal-action waves-effect  btn-flat ">Nochmal spielen!</a>
            </div>
        </div>
    </div>
</div>