
<div class="row">
    <div class="col s6">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_start">START</a>

        <!-- Modal Structure -->
        <div id="modal_start" class="modal">
            <div class="modal-content">
                <div class="row row_start">
                        <h4>START GAME</h4>
                        <a class="waves-effect waves-light btn-large btn_start">Neues Spiel</a><br>
                        <a class="waves-effect waves-light btn-large btn_start">Anleitung</a><br>
                        <a class="waves-effect waves-light btn-large btn_start">Einstellungen</a><br>
                        <a class="waves-effect waves-light btn-large btn_start">About</a><br>
                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-large btn_start">Schließen</a>
                </div>
            </div>
        </div>
    </div>
</div>