<!DOCTYPE html>
<html>
<head>
    <script src="/vendors/socket.io-1.2.0.js"></script>
    <script src="/vendors/jquery-2.1.3.min.js"></script>
    <script src="/vendors/materialize.min.js"></script>
    <script src="/javascripts/dist/main.dist.js"></script>
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/materialize.css"/>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{{body}}}
</body>
</html>
